<div class="flex-column add-task-container px-4 py-4">
    <h2>Add Task</h2>
    <form method="POST" id="task-form">
        <div class="row gx-3 mb-2">
            <div class="col">
                <input type="text" class="form-control py-2 px-2" name="taskName" id="taskName" placeholder="Task Name">
            </div>
            <div class="col-3">
                <input type="date" class="form-control py-2 px-2" name="dueDate" id="dueDate">
            </div>
            <select class="col-3 select-priority py-2" name="priority-level" aria-label="priority selection">
                <option selected>Priority</option>
                <option value="High">High</option>
                <option value="Medium">Medium</option>
                <option value="Low">Low</option>
            </select>
        </div>
        <div class="row gx-3">
            <div class="col-10 task-desc">
                <textarea class="form-control task-description" placeholder="Description" id="new-task-desc"
                    name="task-desc" rows="1"></textarea>
            </div>
            <button class="col-2 btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>