<nav>
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <img class="my-2" src="/images/TaskIt Logo.png" alt="Logo">
    </div>
    <div class="d-flex">
      <span id="username" class="me-2">
        <%= name %>
      </span>
      <div class="dropdown">
        <div class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <i class=" icon-display fa-regular fa-user fa-2xl"></i>
        </div>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="/logout">Logout</a></li>
        </ul>
      </div>

    </div>
  </div>
</nav>