<nav>
    <div class="d-flex justify-content-between align-items-center">
        <div> </div>
        <img class="mb-2" src="/images/TaskIt Logo.png" alt="Logo">
        <div>
            <i class="fa-regular fa-user fa-2xl" style="color: #ffffff;"></i>
        </div>
    </div>
</nav>